.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    

    .column {
        padding: 2rem 1rem;

        p {
            text-align: left;
        }
    }
}

.row.two-columns {
    .column:first-child {
        width: 50%;
    }
    .column:last-child {
        width: 50%;
    }
}

.column {
    padding: 1rem;

    .hero-image {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;

        .column {
            padding: 2rem 1rem;
        }
    }
    .row.two-columns {
        .column {
            width: 100%;
        }

        .column:first-child {
            width: 100%;
            padding-bottom: 1rem;
        }
        .column:last-child {
            width: 100%;
            padding-top: 1rem;
        }
    }
}