---
layout: stlc-default
identity_snippet: true
---
<style>
    .substack-feed-widget .sm\:px-4 {
        padding-left: 0;
        padding-right: 0;
    }
</style>
<section class="masthead bg-navy" style="padding-bottom: 1rem;">
    <div class="row two-columns" style="align-items: start;">
        <img class="column" src="./assets/branding/brand wordmark gold.svg" alt="Collage 1" class="hero-image" />
        <div class="column">
            <p style="font-size: 1.5rem;line-height: 1.5em;">Our mission is to foster <em>informed and empathetic
                    conversations</em> about walkability, transportation, and housing in Dallas neighborhoods. Through
                stories and conversations, <em>inspire locals to take action</em> toward meaningful improvement for the
                city.</p>
            <p class="button-paragraph"><a href="/join" class="button-link gold">Become a member</a></p>
        </div>
    </div>
</section>
<section class="bg-white padded-section">
    <div class="body-wrapper padded">
        <h1>Recent Blog Posts</h1>
        <div id="substack-feed-embed"></div>
        <p class="button-paragraph"><a href="https://dallasurbanists.substack.com" class="button-link sky">Go to our
                Substack blog</a></p>
    </div>
    <script>
        window.SubstackFeedWidget = {
            substackUrl: "dallasurbanists.substack.com",
            posts: 3,
            layout: "center",
            colors: {
                primary: "#0c2340",
                secondary: "#333",
                background: "transparent",
            }
        };
    </script>
    <script src="https://substackapi.com/embeds/feed.js" async></script>
</section>
<section class="bg-sand">
    <div class="row two-columns">
        <div class="column">
            <h1>What is Dallas Urbanists?</h1>

            <p>Dallas Urbanists STLC is a group based in Dallas, Texas and composed of people who care about making our
                city a better place to live, work, and play for everybody. Our group aligns with the New Urbanism
                movement, and we are an instance of what Strong Towns calls a "Local Conversation", whose purpose is to
                connect nearby, like-minded advocates to put Strong Towns ideas into action where we live.</p>

            <p class="button-paragraph"><a href="/about" class="button-link sky">Learn more about us</a></p>
        </div>
        <div class="column">
            <img src="./assets/home collage 2.png" alt="Collage 2" class="hero-image" />
        </div>
    </div>
</section>
<section class="call-to-action bg-sky">
    <div class="row two-columns" style="align-items: baseline;">
        <div class="column">
            <h1>Be a Subscriber</h1>
            <p style="text-align: center;">Get plugged in to everything going on by subscribing to our emails via Substack or following @dallasurbanists on social
                media.</p>
            <iframe src="https://dallasurbanists.substack.com/embed" width="100%" height="320"
                style="border:1px solid #EEE; background:white;border-radius: 0.5rem;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); width: 100%;"
                frameborder="0" scrolling="no"></iframe>
            <a title="Instagram @dallasurbanists" href="https://instagram.com/dallasurbanists" class="icon-link fa-brands navy fa-instagram"></a>
            <a title="Youtube Dallas Urbanists STLC" href="https://www.youtube.com/channel/UCdGGeaIMqyVgr2cssV-uMTg" class="icon-link fa-brands navy fa-youtube"></a>
            <a title="BlueSky @DallasUrbanists.org" href="https://bsky.app/profile/dallasurbanists.org" class="icon-link fa-brands navy fa-bluesky"></a>
            <a title="Subreddit r/dallasurbanists" href="https://www.reddit.com/r/dallasurbanists/" class="icon-link fa-brands navy fa-reddit"></a>
            <a title="Facebook @DallasUrbanists" href="https://www.facebook.com/dallasurbanists/" class="icon-link fa-brands navy fa-facebook"></a>
            <a title="Threads @DallasUrbanists" href="https://www.threads.net/@dallasurbanists" class="icon-link fa-brands navy fa-threads"></a>
        </div>
        <div class="column">
            <h1>Become a Member</h1>
            <p style="text-align: center;">Ready to get involved? Join our Strong Towns Local Converation to receive action alerts and volunteer
                opportunities.</p>
            <p style="text-align: center;" class="button-paragraph"><a href="/join" class="button-link navy">Become a member</a></p>

            <h1 style="margin-top: 1em;">Attend an Event</h1>
            <p style="text-align: center;">"Lowly, unpurposeful and random as they may appear, sidewalk contacts are the small change from which a city's wealth of public life may grow." &mdash; Jane Jacobs</p>
            <p style="text-align: center;" class="button-paragraph">
                <a href="https://www.meetup.com/dallas-urbanists-stlc/?eventOrigin=event_home_page" class="button-link navy">STLC events</a>
                <a href="/calendar" class="button-link navy">Community Calendar</a>
            </p>
        </div>
    </div>
</section>
<section class="bg-offwhite padded-section">
    <div class="body-wrapper padded">
        <h1 class="text-center">Neighbors in Advocacy</h1>
        <p class="text-center subtitle">Here are other local groups we often support and collaborate with.</p>
        <div class="grid-box">
            {% for group in site.groups %}
            {% if group.featured %}
            <div class="grid-cell">
                <a class="photo-logo-combo" href="{{ group.url }}">
                    <img src="{{ group.cover_photo | relative_url }}" alt="{{ group.cover_alt }}" class="photo" />
                    <img src="{{ group.logo | relative_url }}" alt="Logo of {{ group.display_name }}"
                        class="logo {% if group.logo_tight %}offset-y{% endif %}" />
                    <div class="logo-bg"></div>
                </a>
                <h2 class="text-center"><a href="{{ group.url }}">{{ group.display_name }}</a></h2>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>