---
layout: default
identity_snippet: true
---
<div class="container p-4" style="max-width: 768px;">
  <table class="post-table activities-table">
    <tr class="events-and-actions-row">
      <td colspan="2" class="events-and-actions-cell">
        <h2>Upcoming Events &amp; Actions</h2>
      </td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/petition_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Petition:</i> Pedestrianize Akard Street in Downtown Dallas (Elm-Main-Commerce)</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td><a href="#" title="View petition on change.org">View</a> | <a href="#">Share</a> | Started by Hexel | 825 signatures since Feb 28th, 2024</td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/bicycle_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Group Ride:</i> Dallas Critical Mass, March</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td>March 29, Friday | Dallas Farmers Market | Roll out 8:00 PM | <a href="#">Add to Cal</a></td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/bicycle_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Bike Bus:</i> Dallas Critical Mass, March</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td>March 29, Friday | <a href="#">View 3 routes</a>  | Roll out 7:00 PM</td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/event_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Event:</i> Dallas Urbanists + Dallas Neighbors for Housing Happy Hour Social</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td>March 29, Friday 5:30 PM | <a href="#" title="RSVP on ActionNetwork.org">RSVP</a> | <a href="#">Add to Cal</a> | <a href="https://maps.app.goo.gl/67yjFn5abx6NmeH58">The Exchange Hall</a> (upstairs)</td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/speech_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Public Comment:</i> Support Parking Reform at Dallas City Hall</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td><a href="#">Register before March 27, 12 PM</a> | <a href="#">Add to Cal</a> | In-person or online</td>
    </tr>
    <tr class="activity-top-row">
      <td class="icon-cell" rowspan="2"><img src="/assets/icons/written_comment_icon.svg" /></td>
      <td class="title-cell"><a href="http://127.0.0.1:4000/"><i>Written Comment:</i> Support Parking Reform at Dallas City Hall</a></td>
    </tr>
    <tr class="activity-bottom-row">
      <td><a href="#">Submit before March 29 5:00 PM</a></td>
    </tr>
  </table>
  <table class="post-table">
    {% assign months = '' | split: ',' %}
    {% for post in site.posts %}
      {% assign month = post.date | date: "%B %Y" %}
      {% unless months contains month %}
        {% assign months = months | push: month %}
        <tr class="month-row">
          <td colspan="2" class="month-cell">
            <h2>Content from {{ month }}</h2>
          </td>
        </tr>
      {% endunless %}
      {% assign author = site.authors | where: 'name', post.author | first %}
      <tr class="post-table-top-row">
        <td class="icon-cell"><img src="/assets/icons/article_icon.svg" /></td>
        <td class="title-cell"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.subtitle }}">{{ post.title }}</a></td>
      </tr>
      <tr class="post-table-bottom-row">
        <td></td>
        <td>Article about {% include tag-inline-list.html tags=post.tags %} by {{ author.display_name }}</td>
      </tr>
    {% endfor %}
  </table>
</div>