---
layout: stlc-default
---
<style>
    #mixer-feed .subtitle {
        text-decoration: underline;
    }

    .accordion {
        margin-top: 1em;
        details {
            background-color: #f9fafb;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);

            > div,
            > p {
                margin: 0;
                padding: 0 16px 16px;
            }

            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }

        details[open] summary {
            /* margin-bottom: 2px; */
        }

        summary {
            font-weight: 700;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            padding: 0.5em;
            line-height: 1.25em;
        }
    }
</style>
<section class="bg-white padded-section">
    <div class="body-wrapper padded">
        <header>
            <h1>Bimonthly Urbanists Mixer</h1>
            <p class="subtitle">Come fellowship and exchange ideas with fellow neighbors, advocates, and leaders from across the city We meet downtown every two months—January, March, May, July, September, and November—at <a href="https://maps.app.goo.gl/TXzmgZnnLc7QcUzs7" target="parent" class="inline-link external">The Underground at Frankie's Downtown</a> on 1303 Main Street in Downtown Dallas.</p>
        </header>

        <div id="mixer-feed" class="card-feed">
            {% assign now_sec = 'now' | date: '%s' | plus: 86400 %}
            {% assign mixers_upcoming = collections.mixers | sort: "date"  %}
            {% assign shown_next = false %}
            {% assign next_mixer = null %}
            {% for mixer in mixers_upcoming %}
                {% assign mixer_sec = mixer.date | date: '%s' | plus: 0 %}
                {% assign mixer_month = mixer.date | date: '%B' %}
                {% if mixer_sec > now_sec %}
                    <a
                        class="card {% unless shown_next %}large{% endunless %}"
                        href="{{ mixer.data.rsvp_url }}"
                        target="_blank"
                        title="RSVP for {{ mixer_month }} Urbanists Mixer {% if mixer.data.tentative %}[TENTATIVE DATE]{% endif %} on Meetup.com"
                    >
                        <div class="thumbnail" style="background-image:url('{{ mixer.data.cover | default: '/assets/mixer may 2026.jpg' }}')"></div>
                        <div class="body">
                            <h3 class="title">
                                {{ mixer_month }} Urbanists Mixer
                                {% if mixer.data.tentative %}[TENTATIVE DATE]{% endif %}
                            </h3>
                            <p class="subtitle inline-link external">{{ mixer.date | date: "%A, %B %e at %l:%M %p" }} @ {{ mixer.data.location.name }}</p>
                        </div>
                    </a>
                    {% unless shown_next %}
                        {% assign next_mixer = mixer %}
                        {% assign shown_next = true %}
                    {% endunless  %}
                {% endif %}
            {% endfor %}
        </div>
        {% if next_mixer.data.live_url %}
            <p class="button-paragraph">
                <a href="{{ next_mixer.data.live_url }}" target="_blank" class="button-link gold external">Watch livestream on YouTube!</a>
            </p>
        {% endif %}
    </div>
</section>

<section class="bg-sand padded-section">
    <div class="body-wrapper padded">
        <header>
            <h1>What's next in the mix?</h1>
            <p class="subtitle">Every mixer features guest speakers giving brief slide presentations on projects, campaigns, and opportunities relevant to Dallas-area urbanists. To present at an upcoming mixer, email <a href="mailto: contact@dallasurbanists.org">contact@dallasurbanists.org</a>. Here's the lineup for our mixer on Sunday, July 26:</p>
        </header>
        <div class="card-feed expanded">
            {% if next_mixer %}
                {% for feature in next_mixer.data.features %}
                    <div class="card">
                        <div class="thumbnail" style="background-image:url('{{ feature.cover }}')"></div>
                        <div class="body">
                            <h3 class="title">{{ feature.title }}</h3>
                            <p class="subtitle">{{ feature.summary }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                NO NEXT MIXER
            {% endif %}
        </div>
        <p class="button-paragraph">
            <a href="#" class="button-link navy external">Don't forget to RSVP!</a>
            {% if next_mixer.data.slides_url %}
                <a href="{{ next_mixer.data.slides_url }}" target="_blank" class="button-link sky external">View slides for next mixer</a>
            {% endif %}
        </p>
    </div>
</section>

<section class="bg-white padded-section">
    <div class="body-wrapper padded">
        <header>
            <h1>Help us with our next mixer!</h1>
            <p class="subtitle">Putting on this event every two months takes a lot of effort, but it’s worth it every time! Along with our monthly Hyperlocal Conversations, these urbanist mixers are a big part of how we grow, connect, and educate our community. Here's how you can support our next mixer:</p>
        </header>

        <ul>
            <li><b><a href="https://www.meetup.com/dallasurbanists/events/315201367/">Please RSVP</a></b> to let us know you're coming!</li>
            <li><b>Bring friends!</b> The more the merrier.</li>
            <li><b>Email your network.</b> Copy-paste this link into your message: <span class="inline-snippet" data-copy-value="https://dallasurbanists.org/mixer">https://dallasurbanists.org/mixer<button class="copy">copy</button></span></li>
            <li>
                <b>Share on social media.</b> Find shareable posts from @dallasurbanists on
                <ul>
                    <li><a href="https://instagram.com/dallasurbanists" class="inline-link external" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/dallasurbanists/" class="inline-link external" target="_blank">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/dallas-urbanists-stlc" class="inline-link external" target="_blank">LinkedIn</a></li>
                    <li><a href="https://bsky.app/profile/dallasurbanists.org" class="inline-link external" target="_blank">Bluesky</a></li>
                    <li><a href="https://www.reddit.com/r/dallasurbanists/" class="inline-link external" target="_blank">Reddit</a></li>
                </ul>
            </li>
            <li><b><a href="/volunteer">Volunteer!</a></b> See our volunteer page for opportunities before, during, and after the event.</li>
            <li><b><a href="/donate">Donate!</a></b> Your generous donations make all our events possible.</li>
        </ul>
    </div>
</section>

<section class="bg-sky padded-section">
    <div class="body-wrapper padded">
        <header>
            <h1>Frequently Asked Questions</h1>
            <p class="subtitle">For questions not listed below, please email <a href="mailto: contact@dallasurbanists.org">contact@dallasurbanists.org</a>.</p>
        </header>

        <div class="accordion">
            <details>
                <summary>📅 When is the mixer?</summary>

                <p>We schedule our mixer every two months, usually on a Saturday at 5:00 PM. However, there are some exceptions: in January we postponed to February due to extreme weather; in July we're hosting on Sunday the 26th instead of Saturday due to a scheduling conflict. Always check the top of this webpage for the most up-to-date schedule, and make sure to RSVP so you can be alerted if and when things change.</p>
            </details>

            <details>
                <summary>🤔 Who are invited? What if I'm very new to the area, or to urbanism in general?</summary>

                <p>Everyone is welcome! Whether you are new to urbanism and are just getting started learning how to make Dallas more walkable, or you've been an advocate for a long time and have plenty of knowledge and wisdom to share, we designed this mixer so that everyone can have a good time, meet great people, and feel motivated for things to come.</p>
            </details>

            <details>
                <summary>⌚ What time does it start and end? How long is the program?</summary>

                <p>Our usual start time is 5:00 PM, though always check the official time at the top of the page. You're welcome to arrive early to order, eat and drink while we set up. People typically start arriving, checking in, and mingling for the first 30 minutes. We typically start our program at 5:30 PM and get through all featured presentations in 45 to 60 minutes. After end of program, people typically continue socializing at Frankie's until about 8:00 PM.</p>
            </details>

            <details>
                <summary>📍 Where is the mixer?</summary>

                <p>We usually host our mixer at <a href="https://maps.app.goo.gl/TXzmgZnnLc7QcUzs7" target="parent" class="inline-link external">Frankie's Downtown</a>, a restaurant/bar located at 1303 Main Street in Downtown Dallas. We meet in <i>The Underground</i>&mdash;their basement event space. Always check the top of this webpage for the most up-to-date location details, and make sure to RSVP so you can be alerted if and when things change.</p>
            </details>

            <details>
                <summary>🚍 How do I get there? Instructions for walking, cycling, public transit, scooters, rideshare, and parking.</summary>

                <p><b>Walking: </b>The main entrance of Frankie's Downtown is on Main Street. When you enter the glass doors, walk through the restaurant past the dining tables toward the back wall, where you'll find the stairs leading down to The Underground.</p>
                
                <p><b>DART: </b>We strongly recommend taking public transit to this location. <a href="https://maps.app.goo.gl/S6wGKTzLvoHgSLyo7"  class="inline-link external" target="_blank">Akard Station</a> is just 3 minutes away on foot and serves all four light rail lines&mdash;Red, Orange, Green, and Blue. Bus stops are barely one block away on Elm St and Commerce St, each serving over a dozen bus routes. If you live anywhere within 5 miles of downtown, it's very likely that your closest bus route can take you directly to our event location.</p>

                <p><b>Cycling: </b>There is bicycle parking all along Main Street on the sidewalk, including directly in front of Frankie's. There is a bike corral at the corner of Main & Akard, and a block down Main Street is Civic Garden Park, which also has plenty of bike parking. If you have a folding or light bicycle, you can bring it inside. However, if you have a large or electric bicycle, it's best to lock it outside.

                <p><b>Park & Ride: </b>If you must use a car, we recommend parking at a DART station near you. If you'd like to park at a station close to downtown, we suggest parking at either <a href="https://maps.app.goo.gl/9EJSyKTjv2ZNEqvE6" class="inline-link external" target="_blank">SMU/Mockingbird Station</a> (Blue, Red, and Orange lines), <a href="https://maps.app.goo.gl/hfWupbnJRaJvXKEn9" class="inline-link external" target="_blank">Market Center Station</a> (Orange and Green), or <a href="https://maps.app.goo.gl/Lj8aavHLJxLmuLxHA" class="inline-link external" target="_blank">8th & Corinth Station</a> (Red and Blue).</p>

                <p><b>Lime/Bird Scooters:</b> There are plenty of shared dockless scooters scattered throughout downtown; you usually don't need to walk more than a block or two to find one. However, be advised that they stop operating after 9:00 PM curfew.</p>

                <p><b>Rideshare:</b> Main Street tends to be very congested on weekends in the afternoon and evening when we have our event. During heavy congestion, avoid hailing a ride directly on Main, Elm, or Commerce; walk a block or two to either Jackson St or Field St to avoid heavy traffic.</p>

                <p><b>Parking downtown:</b> We do not recommend parking downtown. If you must, there are paid garages on Elm St. (NOTE FOR JULY 2026: Remember there is mostly no curbside parking on Main Street for duration of FIFA World Cup.)</p>
            </details>

            <details>
                <summary>♿ I use a wheelchair, walker, or have difficulty ascending stairs. How do I get in and out?</summary>

                <p>When you arrive at Frankie's Downtown, wait at the front counter and inform a staffmember that you need the elevator to The Underground. A volunteer will promptly arrive to escort you around the side, to the elevators, and down to the basement where our event is held.</p>
            </details>

            <details>
                <summary>Is the event free?</summary>

                <p>Yes, this event is free to attend. Attendees are encouraged to purchase food and drinks at the bar to support our host who graciously allow us to use their place of business for our event.</p>
            </details>

            <details>
                <summary>Do I need to RSVP? What if I'm not sure I can make it?</summary>

                <p>Yes, please RSVP so that both our organizing team and the restaurant staff can estimate how many guests to prepare for. If youu're not sure you can attend, you can RSVP as "Maybe" so you'll at least receive updates and alerts in case anything changes with the event.</p>
            </details>

            <details>
                <summary>What should I bring to the mixer?</summary>

                <p>Your presence is enough! That said, it's also a good idea to bring:
                <ul>
                    <li>Some friends</li>
                    <li>Money for food & drink</li>
                    <li>Pen and paper for taking notes</li>
                    <li>Business cards for networking</li>
                    <li>Stories and ideas for a more walkable Dallas</li>
                </ul>
                </p>
            </details>

            <details>
                <summary>After I arrive, how do I sign in?</summary>

                <p>Upon arriving at The Underground, please take time to check-in with the volunteer at front desk; this is so we can get a headcount for the evening and so we can email you follow-up information. After checking in, please write your name and neighborhood on a nametag.</p>
            </details>

            <details>
                <summary>What food options are there?</summary>

                <p><a href="https://www.frankiesbar.com/qr-code-menu" class="inline-link external" target="_blank">Here is the menu</a> at Frankie's Downtown. Attendees are encouraged to purchase food and drinks at the bar to support our host who graciously allow us to use their place of business for our event. If the food options at Frankie's is not to your liking, there are several restaurants nearby you can patronize before and after the mixer; after all, this is downtown!</p>
            </details>

            <details>
                <summary>Can I see the presentations online afterward? Would you email me a copy of the slides?</summary>

                <p>Check back on this webpage the day after the mixer. In the table below you'll find links to slides and recordings from past mixers.</p>
            </details>

            <details>
                <summary>Can I be a guest speaker, or briefly plug something, at an upcoming mixer?</summary>

                <p>We'd be happy to have you as a guest speaker! Please email your request to <a href="mailto: contact@dallasurbanists.org">contact@dallasurbanists.org</a>; make sure to include the date of the mixer you wish to speak at in the subject of your email. We'll consider each request individually and reach back out to you for further discussion.</p>
            </details>

            <details>
                <summary>Can I table for my organization at an upcoming mixer?</summary>

                <p>We'd be happy to have your organization represented at our mixer! Please email your request to <a href="mailto: contact@dallasurbanists.org">contact@dallasurbanists.org</a>; make sure to include the date of the mixer you wish to table at. We'll consider each request individually and reach back out to you for further discussion.</p>
            </details>

            <details>
                <summary>I can't make it to the next mixer. Are there ways I can help without physically being there?</summary>

                <p>Yes! There are several things we need help with both before and after the event. You can even help us during the event despite not being physically present by assisting with our livestream. Please see our <a href="/volunteer">volunteer page</a> for more details on how to volunteer.</p>
            </details>

            <details>
                <summary>Wow, I feel energized and inspired by what I saw and who I met at the mixer! What's next from here?</summary>

                <p>We're glad you came and had a good time at our mixer! After the event, you can:

                <ul>
                    <li><b>Give us a 5-star rating on Meetup.com.</b> Check your inbox for an email from Meetup asking you to rate our event. Giving us a high rating boosts our events to a wider audience, allowing more people to discover us.</li>
                    <li><b><a href="/join">Become a member</a></b> for free. This lets us know you're more than just passively interested in our mission of making Dallas more walkable. As a member, you'll have access to our members-only Discord and receive members only communications. Being a member enables us to reach out to you directly about exciting events and actions hyperlocal to your part of town.</li>
                    <li><b><a href="/hyperlocal">Join a hyperlocal conversation in your neighborhood.</a></b> These are neighborhood-specific monthly gatherings where neighbors explore ways to improve walkability where they live. Meeting fellow advocates who live nearby and care about making your shared community a safe and vibrant place to live is the first step toward big change.</li>
                    <li><b><a href="/volunteer">Volunteer with Dallas Urbanists.</a></b> Making our city more walkable is a huge effort, but many hands make light work. Check out our volunteer page to discover ways you can help beyond our mixer events.</li>
                    <li><b><a href="/calendar">Get involved in the community.</a></b> With our Community Calendar, we curate dozens of events and activities every month of interest to neighbors and urban advocates, including socials, public meetings, training workshops, bike rides, volunteer activities, important hearings, election dates, and more.</li>
                    <li><b><a href="/donate">Donate to our nonprofit.</a></b> Your generous support pays for the resources we need to put on these events, organize volunteer actions, create educational content, and advance our mission toward making Dallas more walkable.</li>
                </ul>
                </p>
            </details>

        </div>
    </div>
</section>

<section class="bg-navy padded-section">
    <div class="body-wrapper padded">
        <header>
            <h1>Slides & Recordings of Past Mixers</h1>
            <p class="subtitle">Find available notes, slides, and recordings for past mixers in the table below.</p>
        </header>
        <table class="tabular">
            <thead>
                <tr>
                    <th>Event Date</th>
                    <th>Slide Deck</th>
                    <th>Recording (if available)</th>
                    <th>Notes (if available)</th>
                </tr>
            </thead>
            <tbody>
                {% assign mixers_reverse = collections.mixers | sort: "date" |  reverse %}
                {% for mixer in mixers_reverse %}
                    {% assign mixer_sec = mixer.date | date: '%s' | plus: 0 %}
                    {% if mixer_sec < now_sec %}
                        <tr>
                            <td>{{ mixer.date | date: '%Y %B %e' }}</td>
                            <td>
                                {% if mixer.data.slides_url %}<a href="{{ mixer.data.slides_url }}" class="inline-link external" target="_blank">Slides</a>{% endif %}
                            </td>
                            <td>
                                {% if mixer.data.recording_url %}<a href="{{ mixer.data.recording_url }}" class="inline-link external" target="_blank">Recording</a>{% endif %}
                            </td>
                            <td>
                                {% if mixer.data.notes_url %}<a href="{{ mixer.data.notes_url }}" class="inline-link external" target="_blank">Notes</a>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


<section class="bg-navy padded-section">
    <header class="body-wrapper padded">
        <h1>Photo Gallery</h1>
        <p class="subtitle">Photos from past mixers, courtesy of our members and friends.</p>
    </header>
    <div id="gallery"></div>
</section>

<script>
</script>
<script src="/plugins/sync-teamup-ical.js"></script>
<script src="/plugins/embed-rss.js"></script>
<script src="/plugins/fslightbox.js"></script>
<script src="/plugins/imagekit-gallery.js"></script>
<script>
SyncWithTeamupCalendar();
PhotoGallery("Bimonthly Mixer", document.getElementById('gallery'));
const snippets = document.querySelectorAll('.inline-snippet[data-copy-value]');
snippets.forEach(snippet => {
    const value = snippet.getAttribute('data-copy-value');
    const btn = snippet.querySelector('.copy');
    btn.addEventListener('click', () => {
        navigator.clipboard.writeText(value).then(
        () => {
            window.alert(`Copied to clipboard: ${value}`);
        },
        () => {
            window.alert(`An error occurred while attempting to copy. Please try again.`);
        },
    );
    });
});
</script>
