---
layout: stlc-default
---
<section class="bg-offwhite padded-section">
    <div class="body-wrapper padded">
        <h1 class="text-center">Neighbors in Advocacy</h1>
        <p class="text-center subtitle">Here are other local groups and organizations we often support and collaborate with.</p>
        <div class="grid-box">
            {% for group in site.groups %}
            {% if group.featured %}
            <div class="grid-cell">
                <a class="photo-logo-combo" href="{{ group.url }}">
                    <img src="{{ group.cover_photo | relative_url }}" alt="{{ group.cover_alt }}" class="photo" />
                    <img src="{{ group.logo | relative_url }}" alt="Logo of {{ group.display_name }}"
                        class="logo {% if group.logo_tight %}offset-y{% endif %}" />
                    <div class="logo-bg"></div>
                </a>
                <h2 class="text-center"><a href="{{ group.url }}">{{ group.display_name }}</a></h2>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>