---
layout: default
tag_feed: Podcast
title: "By Way of Dallas | Podcast"
description: "A podcast about mobility in the Dallas area, and how the way we move affects the way we live."
num_of_cards: 1
---

<div class="container-fluid px-lg-5 py-5">
  <div class="mx-auto" style="max-width: 1024px;">
    <h1 class="text-center display-5 lined-heading">
      <span>
        <em>By Way of Dallas</em>
      </span>
    </h1>
    <p style="max-width: 35em; text-align: center;" class="mx-auto">A podcast about mobility in the Dallas area, and how the way we move affects the way we live.</p>
    <div class="container mx-auto my-5">
      {% assign shown_latest_episode = false %}

      {% for post in site.posts %}
        {% unless post.tags contains "Podcast" %}
          {% continue %}
        {% endunless %}

          <div class="row overflow-hidden flex-column-reverse flex-md-row-reverse mb-2 h-md-250 position-relative blog-listing py-4 py-md-2">
            <div class="col col-12 col-lg-8">
              <h3 class="mb-2 fs-5">
                <a href="{{ post.url | prepend: site.baseurl }}" class="link-dark link-underline-opacity-0 stretched-link">{{ post.title }}</a>
              </h3>
              <p class="card-text mb-2 text-body-secondary fs-6 ">
                <em>{{ post.date | date: "%B %-d, %Y" }}</em>
                {% if post.subtitle %}
                  &mdash; {{ post.subtitle }}{% endif %}
              </p>
              <p>
                <a class="link-dark link-offset-3" href="{{ post.url | relative_url }}">
                  <nobr>Read / listen to Episode {{ post.episode_number }}</nobr>
                </a>
              </p>
            </div>
            <div class="col col-12 col-lg-4 mb-2 mb-md-0">
              <img class="img-fluid muted rounded" src="{{ post.cover_image | relative_url }}">
            </div>
          </div>
      {% endfor %}
    </div>

    <div class="mx-auto" style="max-width: 1024px;">
      <h1 class="text-center display-5">
        <span>
          About
        </span>
      </h1>
      {% include impact-image.html path = "assets/podcast-impact-photo.jpg" %}
      <div class="container mx-auto text-center mt-4 mb-5" style="max-width: 40em;">
        <p>
          <em>By Way of Dallas</em>
          is a podcast about mobility in the Dallas area, and how the way we move affects the way we live. This podcast primarily targets transportation planners and advocates for public transit, cycling infrastructure, and walkability.</p>

        <p>
          <strong>For planners,</strong>
          this podcast sheds light on how people are helped and hurt by Dallas' infrastructure policy decisions. From personal stories shared by Dallasites to interviews with local experts and advocates, this podcast aims to shatter the myth that car dependence and sprawl are Dallas' inescapable fate.</p>

        <p>
          <strong>For advocates,</strong>
          this podcast presents ways toward a more walkable and sustainable Dallas. Topics will include the removal of Interstate 345, investment in sidewalk gaps and cycling infrastructure, eliminating parking minimums, and more.</p>

        <p>You can listen to
          <em>By Way of Dallas</em>
          on every major podcast platorm:
          <a href="https://open.spotify.com/show/4y48myrkLxKOIYt56n3fdq">Spotify</a>,
          <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9kYThjMDJhMC9wb2RjYXN0L3Jzcw">Google Podcasts</a>,
          <a href="https://podcasts.apple.com/us/podcast/by-way-of-dallas/id1672072523">Apple Podcasts</a>,
          <a href="https://music.amazon.com/podcasts/514160de-7132-427b-ae61-78168318ab6e/by-way-of-dallas">Amazon Music</a>,
          <a href="https://www.iheart.com/podcast/269-by-way-of-dallas-109009754/">iHeartRadio</a>,
          <a href="https://castbox.fm/channel/id5312281?country=us">Castbox</a>,
          <a href="https://pca.st/x7v3qb0r">Pocket Casts</a>,
          <a href="https://radiopublic.com/by-way-of-dallas-GKZOEQ">RadioPublic</a>, and
          <a href="https://www.stitcher.com/show/1057897">Stitcher</a>.
        </p>
      </div>
    </div>
  </div>
</div>