@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

a {
    text-decoration-skip-ink: auto;
}

.post-table {
    .icon-cell {
        padding-top: 0.5em;
        vertical-align: top;
    }
    .title-cell a {
        text-wrap: balance;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }
    .title-cell a .fancy-font {
        font-weight: 900;
    }
    
    .title-cell a:link {
        color: #060;
    }
    .title-cell a.external-link:link {
        color: #009;
    }
    .title-cell
    a:visited {
        color: #333;
    }
    .title-cell
    a:hover {
        text-decoration: underline;
    }

    .month-cell
    h2 {
        border-bottom: dotted #999;
        font-size: 1rem;
        margin: 2rem 0 0.5rem 0;
        padding-bottom: 0.5rem;
        font-weight: 900;
    }
    .post-table-top-row .icon-cell img {
        height: 3ch;
    }
    .post-table-bottom-row td {
        padding-bottom: 0.5em;
        font-size: 0.75em;
        font-weight: normal;
    }

    .post-table-bottom-row
    a {
        color: black;
        text-underline-offset: 2px;
        text-decoration: underline #000 dotted;
    }
    .post-table-bottom-row
    a:hover {
        text-decoration: underline #000 solid;
    }

    text-wrap: pretty;
}

.activities-table {
    .events-and-actions-cell h2 {
        border-bottom: dotted #999;
        font-size: 1rem;
        margin: 0rem 0 0.5rem 0;
        padding-bottom: 0.5rem;
        font-weight: 900;
    }

    .activity-top-row sup {
        font-weight: normal;
    }

    .activity-top-row .icon-cell img {
        width: 3ch;
    }

    .activity-bottom-row td {
        padding-bottom: 0.5em;
        font-size: 0.75em;
        font-weight: normal;
    }

    .activity-bottom-row a {
        color: black;
        text-underline-offset: 2px;
        text-decoration: underline #000 dotted;
    }
    .activity-bottom-row a:hover {
        text-decoration: underline #000 solid;
    }
}

.top-nav {
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
    width: 100%;
    /*position: sticky;*/
    top: 0;
    background-color: #333;
    color: white;
    padding: 0;
    flex-direction: row;
}

.top-nav img.logo {
    margin: 1ch;
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
    height: 2ch;
}

.top-nav ul {
    text-align: right;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    display: block;
}
.top-nav ul.top-nav-list li {
    line-height: 3.6ch;
    display: inline-block;
    margin: 0;
    height: 4ch;
    padding: 0 1ch;
}
.top-nav ul li.current {
    background-color: #eee;
    background-image: url("/assets/handmadepaper.png");
    color: black;
}

.top-nav ul.top-nav-list a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin: 0 0.5em;
    line-height: 2ch;
}

.top-nav ul li.current a {
    color: black;
    cursor: default;
}

.top-nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.top-nav ul li.current a:hover {
    text-decoration: none;
}

.top-nav .top-nav-socials .social-icon {
    margin: 0.5ch;
    height: 3ch;
}

.top-nav .top-nav-logo-link {
    flex-grow: 1;
}

.top-nav .top-nav-socials {
    padding-right: 1ch;
    text-align: right;
}

.white-filter {
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
}

.fancy-font {
    font-family: "Playfair Display", serif;
}

.site-introduction {
    border: solid 1px #799A4A;
    position: relative;
    background-color: rgba(121, 154, 74, 0.1);
    padding: 1em;
    margin-bottom: 1em;
}

.site-introduction p {
    text-wrap: balance;
}

.site-introduction p a {
    color: #333;
    text-underline-offset: 2px;
    text-decoration-style: dotted;
    font-weight: normal;
}

.site-introduction p a:hover {
    text-decoration-style: solid;
}
.site-introduction p.small {
    margin-bottom: 0;
    font-style: italic;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.2em;
    text-wrap: pretty;
    color: #555;
}

#hide-link {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-decoration: none;
    background-color: #799A4A;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: normal;
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 0;
    }
    .top-nav-list {
        order: 3;
    }
    .top-nav-list {
        order: 3;
    }
    ul.top-nav-list {
        text-align: center;
        /* padding-left: 0.5em; */
        font-size: 0.75em;
        padding-top: 0.8em;
    }
    .top-nav .top-nav-logo-link {
        text-align: center;
    }
    .article-masthead h1#post-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .below-mast {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.mc-field-group {
    flex-wrap: nowrap;
    margin-bottom: 0.5ch;
    display: flex;
    flex-direction: row;
}

input#mce-EMAIL {
    flex-grow: 1;
}

.mc-field-group label {
    padding-right: 6px;
}

.article-masthead {
    min-height: 75svh;
    background-size: cover;
    background-position: center center;
    color: white;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: #EEE;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* padding: 1rem; */
    /* margin-bottom: 1em; */
}

.article-masthead #post-title {
    font-size: 3rem;
    margin-bottom: 0;
    text-wrap: balance;
    color: white;
}

.article-masthead + .below-mast {
    padding-top: 1em;
}

.width-1024 {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
}

.article-masthead p.subtitle {
    text-wrap: balance;
    color: white;
    display: block;
}

ul.source-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
ul.source-list li {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0.5em;
}
ul.source-list li p,
ul.source-list li a {
    font-size: 0.85em;
    line-height: 1.0em;
    font-weight: normal;
}

ul.source-list li p:last-child {
    margin-bottom: 0;
}

.article-plainhead {
    padding: 0 1em;
    margin-top: 1em;
}
.article-plainhead h1#post-title {
    margin-bottom: 0;
    font-size: clamp(2rem, 1vw, 3rem);
    text-wrap: balance;
}
.article-plainhead p.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;
    font-style: italic;
}

.instagram-container {
    width: 100%;
    max-width: 540px;
    margin: 1em auto !important;
}

iframe.instagram-media {
}

h1.instagram-title {
    text-wrap: balance;
    text-align: center;
    margin: 1em auto;
    max-width: 1024px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h1.instagram-title strong {
    font-weight: 900;
}

.instagram-title + .subtitle {
    font-weight: normal;
    text-wrap: balance;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto 2em;
}

.instagram-title-icon,
.petition-title-icon {
    width: 2em;
    height: 2em;
    display: block;
    margin: 0 auto 0.25em;
}

.instagram-tags {
    text-align: center;
    max-width: 1024px;
    padding: 1em;
    margin: 0 auto;
}

.tag-link {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}

.tag-link:hover {
    text-decoration-style: solid;
}

/*************/
/** PETITION */
/*************/

h1.petition-title {
    text-wrap: balance;
    text-align: left;
    margin: 1em auto;
    max-width: 1024px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h1.petition-title strong {
    font-weight: 900;
}

.petition-title + .subtitle {
    font-weight: normal;
    text-wrap: balance;
    text-align: left;
    max-width: 1024px;
    margin: 0 auto 1em;
}

.petition-body {
    max-width: 1024px;
    margin: 0 auto;
    font-weight: normal;
    text-align: left;
}

.petition-cover-photo {
    max-width: 1024px;
    width: 100%;
    margin: 1em auto;
    display: block;
    /* border-radius: 1rem; */
}

.petition-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.petition-bar a {
    text-decoration: none;
    background-color: #C00;
    color: white;
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    max-width: 1024px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
}

.petition-bar a:hover {
    background-color: red;
}

.petition-spacer {
    height: 4rem;
}

.petition-body.blog-article a {
    font-weight: normal;
    color: maroon;
}
.petition-body.blog-article a:hover {
    text-decoration-style: solid;
}

.petition-body.blog-article strong {
    font-weighT: bold;
}

.petition-body.blog-article h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}

.petition-bar a img {
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
    height: 1em;
    width: 1em;
    margin: 0 0.25em;
}

a {
    text-decoration-skip-ink: auto;
}

.post-table {
    .title-cell a {
        text-wrap: balance;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }
    .title-cell a .fancy-font {
        font-weight: 900;
    }
    
    .title-cell a:link {
        color: #060;
    }
    .title-cell a.external-link:link {
        color: #009;
    }
    .title-cell
    a:visited {
        color: #444;
    }
    .title-cell
    a:hover {
        text-decoration: underline;
    }

    .month-cell
    h2 {
        border-bottom: dotted #999;
        font-size: 1rem;
        margin: 2rem 0 0.5rem 0;
        padding-bottom: 0.5rem;
        font-weight: 900;
    }
    .post-table-top-row .icon-cell img {
        height: 3ch;
    }
    .post-table-bottom-row td {
        padding-bottom: 0.5em;
        font-size: 0.75em;
        font-weight: normal;
    }

    .post-table-bottom-row
    a {
        color: black;
        text-underline-offset: 2px;
        text-decoration: underline #000 dotted;
    }
    .post-table-bottom-row
    a:hover {
        text-decoration: underline #000 solid;
    }

    text-wrap: pretty;
}

.activities-table {
    .events-and-actions-cell h2 {
        border-bottom: dotted #999;
        font-size: 1rem;
        margin: 0rem 0 0.5rem 0;
        padding-bottom: 0.5rem;
        font-weight: 900;
    }

    .activity-top-row sup {
        font-weight: normal;
    }

    .activity-top-row .icon-cell img {
        width: 3ch;
    }

    .activity-bottom-row td {
        padding-bottom: 0.5em;
        font-size: 0.75em;
        font-weight: normal;
    }

    .activity-bottom-row a {
        color: black;
        text-underline-offset: 2px;
        text-decoration: underline #000 dotted;
    }
    .activity-bottom-row a:hover {
        text-decoration: underline #000 solid;
    }
}

.top-nav {
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
    width: 100%;
    /*position: sticky;*/
    top: 0;
    background-color: #333;
    color: white;
    padding: 0;
    flex-direction: row;
}

.top-nav img.logo {
    margin: 1ch;
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
    height: 2ch;
}

.top-nav ul {
    text-align: right;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    display: block;
}
.top-nav ul.top-nav-list li {
    line-height: 3.6ch;
    display: inline-block;
    margin: 0;
    height: 4ch;
    padding: 0 1ch;
}
.top-nav ul li.current {
    background-color: #eee;
    background-image: url("/assets/handmadepaper.png");
    color: black;
}

.top-nav ul.top-nav-list a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin: 0 0.5em;
    line-height: 2ch;
}

.top-nav ul li.current a {
    color: black;
    cursor: default;
}

.top-nav ul a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.top-nav ul li.current a:hover {
    text-decoration: none;
}

.top-nav .top-nav-socials .social-icon {
    margin: 0.5ch;
    height: 3ch;
}

.top-nav .top-nav-logo-link {
    flex-grow: 1;
}

.top-nav .top-nav-socials {
    padding-right: 1ch;
    text-align: right;
}

.white-filter {
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
}

.fancy-font {
    font-family: "Playfair Display", serif;
}

.site-introduction {
    border: solid 1px #799A4A;
    position: relative;
    background-color: rgba(121, 154, 74, 0.1);
    padding: 1em;
    margin-bottom: 1em;
}

.site-introduction p {
    text-wrap: balance;
}

.site-introduction p a {
    color: #333;
    text-underline-offset: 2px;
    text-decoration-style: dotted;
    font-weight: normal;
}

.site-introduction p a:hover {
    text-decoration-style: solid;
}
.site-introduction p.small {
    margin-bottom: 0;
    font-style: italic;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.2em;
    text-wrap: pretty;
    color: #555;
}

#hide-link {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-decoration: none;
    background-color: #799A4A;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: normal;
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 0;
    }
    .top-nav-list {
        order: 3;
    }
    .top-nav-list {
        order: 3;
    }
    ul.top-nav-list {
        text-align: center;
        /* padding-left: 0.5em; */
        font-size: 0.75em;
        padding-top: 0.8em;
    }
    .top-nav .top-nav-logo-link {
        text-align: center;
    }
    .article-masthead h1#post-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .below-mast {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.mc-field-group {
    flex-wrap: nowrap;
    margin-bottom: 0.5ch;
    display: flex;
    flex-direction: row;
}

input#mce-EMAIL {
    flex-grow: 1;
}

.mc-field-group label {
    padding-right: 6px;
}

.article-masthead #post-title {
    font-size: 3rem;
    margin-bottom: 0;
    text-wrap: balance;
    color: white;
}

.article-masthead + .below-mast {
    padding-top: 1em;
}

.width-1024 {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: block;
}

.blog-article .article-masthead p.subtitle {
    text-wrap: balance;
    color: white;
    display: block;
}

ul.source-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
ul.source-list li {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0.5em;
}
ul.source-list li p,
ul.source-list li a {
    font-size: 0.85em;
    line-height: 1.0em;
    font-weight: normal;
}

ul.source-list li p:last-child {
    margin-bottom: 0;
}

.article-plainhead {
    padding: 0 1em;
    margin-top: 1em;
}
.article-plainhead h1#post-title {
    margin-bottom: 0;
    font-size: clamp(2rem, 1vw, 3rem);
    text-wrap: balance;
}
.article-plainhead p.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;
    font-style: italic;
    display: block;
}

.instagram-container {
    width: 100%;
    max-width: 540px;
    margin: 1em auto !important;
}

iframe.instagram-media {
}

h1.instagram-title {
    text-wrap: balance;
    text-align: center;
    margin: 1em auto;
    max-width: 1024px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h1.instagram-title strong {
    font-weight: 900;
}

.instagram-title + .subtitle {
    font-weight: normal;
    text-wrap: balance;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto 2em;
}

.instagram-title-icon,
.petition-title-icon {
    width: 2em;
    height: 2em;
    display: block;
    margin: 0 auto 0.25em;
}

.instagram-tags {
    text-align: center;
    max-width: 1024px;
    padding: 1em;
    margin: 0 auto;
}

.tag-link {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}

.tag-link:hover {
    text-decoration-style: solid;
}

/*************/
/** PETITION */
/*************/

h1.petition-title {
    padding: 1rem;
    text-wrap: balance;
    text-align: left;
    margin: 0 auto;
    max-width: 1024px;
    font-weight: 600;
}

h1.petition-title strong {
    font-weight: 900;
}

.petition-title + .subtitle {
    font-size: 0.75rem;
    font-weight: normal;
    text-wrap: balance;
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 0;
}

.petition-body {
    max-width: 1024px;
    margin: 0 auto;
    font-weight: normal;
    text-align: left;
    padding: 1em;
}

.petition-cover-photo {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: block;
    /* border-radius: 1rem; */
}

.petition-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .petition-bar {
        font-size: 0.8rem;
    }
    .petition-bar a {
        padding: 1em 0.5em;
    }
}

.petition-bar a {
    text-decoration: none;
    background-color: #C00;
    color: white;
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    max-width: 1024px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
}

.petition-bar a:hover {
    background-color: red;
}

.petition-spacer {
    height: 4rem;
}

.petition-body.blog-article a {
    font-weight: normal;
    color: maroon;
}
.petition-body.blog-article a:hover {
    text-decoration-style: solid;
}

.petition-body.blog-article strong {
    font-weighT: bold;
}

.petition-body.blog-article h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}

.petition-bar a img {
    filter: invert(93%) sepia(0%) saturate(1148%) hue-rotate(349deg) brightness(114%) contrast(100%);
    height: 1em;
    width: 1em;
    margin: 0 0.25em;
}

tr.this-week.activity-top-row,
tr.this-week.activity-bottom-row {
    background-color: rgba(121, 154, 74, 0.1);
}

tr.this-week td.icon-cell img.icon {
    filter: invert(24%) sepia(77%) saturate(1095%) hue-rotate(85deg) brightness(98%) contrast(109%);
}

tr.this-week h3 {
    font-size: 1rem;
    margin-top: 0.5em;
    font-style: italic;
}

.post-table.activities-table .icon-cell {
    width: 4.25em;
}

.post-table .icon-cell {
    width: 2.5em;
}

strong.fancy-font.day-this-week {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

.content-type-tag {
    border-radius: 0.5em;
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
}

.number-pill {
    font-style: italic;
    font-size: 0.75em;
    display: inline-block;
    border: solid 1px #333;
    line-height: 1.2em;
    padding: 0 0.2em;
    border-radius: 3px;
    vertical-align: super;
}

.active .number-pill {
    border-color: #EEE;
}

.nav.sub-nav .nav-link {
    color: #060;
    cursor: pointer;
}

.nav.sub-nav {position: sticky;margin-bottom: 1em;border-bottom: solid 1px #333;top: 0;background-color: #EEE;}

.nav.sub-nav .nav-link.active {
    background-color: #333;
    color: white;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.tab-pane {
    min-height: 100svh;
}

img.inline-icon {
    height: 1em;
    display: inline-block;
    width: 1em;
}

table.updates-table tr td {
    vertical-align: top;
    border-bottom: solid 1px #333;
    padding-top: 1em;
}

table.updates-table tr:first-child  td {
    padding-top: 0;
}

table.updates-table tr td:first-child {
    font-weight: bold;
    width: 100px;
}
table.updates-table tr td:first-child p {
    margin: 0;
    padding: 0;
}

#gallery-pane img {
    margin: 1em;
}

.developer-note {
    background-color: #c00 !important;
    color: white !important;
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: dashed 4px white;
}

.developer-note a {
    color: white !important;
    text-decoration-color: white;
}