@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bs-primary: #0b2b8c;
    --bs-primary-rgb: 11, 43, 140;
    --bs-heading-color: rgba(61, 63, 63, 1);
}

body {
    font-family: 'Noto Serif', Georgia, Cambria, "Times New Roman", Times, serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.glamorous-heading {
    text-shadow: -4px 3px 0 #0a0e27;
}

.bg-semitransparent {
    background: rgba(0,0,0, 0.75);
}

.bg-fade {
    background: rgb(11,43,140);
    background: linear-gradient(180deg, rgba(11,43,140,1) 90%, rgba(11,43,140,0) 100%);
}

.lined-heading {
    position: relative;
}
.lined-heading span {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    display: inline-block;
    position: relative;
    padding: 0 0.5em;
}
.lined-heading::before {
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    border-top: 1px solid var(--bs-dark-border-subtle);
}

.blog-listing img.muted {
    filter: grayscale(100%);
    transition: filter 0.25s;
    transition-timing-function: ease-out;
}

.blog-listing:hover img.muted {
    filter: grayscale(0%);
}

.jumbo-cover {
    background-color: black;
    z-index: -1;
    margin-top: -102px;
    position: relative;
    padding-top: 102px;
    background-size: cover;
}

.blog-article {
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
}

.blog-article p {
    color: var(--bs-dark);
    margin-top: 2em;
}

.blog-article :is(h1, h2):first-child {
    margin-top: 0px !important;
}

.blog-article h1:not(.lined-heading) {
    color: black;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 53px;
}

.blog-article h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 53px;
}

.blog-article :is(h1, h2):not(.lined-heading) + p {
    margin-top: 8px;
}

.blog-article hr {
    width: 75%;
    margin-top: 43px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}

.blog-article img {
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}

.text-glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f8f9fa, 0 0 40px #f8f9fa, 0 0 50px #f8f9fa, 0 0 60px #f8f9fa, 0 0 70px #f8f9fa;
}

@media (max-width: 383px) {
    .navbar {
        position: absolute;
        top: 1em;
    }
    body {
        padding-top: 100px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
        margin-top: -94px;
    }

    .navbar-toggler {
        z-index: 1;
    }

    .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
        background-color: var(--bs-primary);
        margin-left: -12px;
        margin-right: -12px;
    }

    .navbar-collapse.collapse.show .nav-item a, .navbar-collapse.collapsing .nav-item a {
        padding: 1em;
    }

    .navbar-collapse.collapse.show .nav-item a:hover, .navbar-collapse.collapsing .nav-item a:hover {
        background-color: var(--bs-primary-bg-subtle);
    }
}