{% if page.title %}
  {% assign meta_title = page.title | append: " | This Dallas Life" %}
{% else %}
  {% assign meta_title = "This Dallas Life" %}
{% endif %}

{% if page.subtitle %}
  {% assign meta_description = page.subtitle %}
{% else %}
  {% assign meta_description = "A publication focused on urbanist topics such as walkability, housing, public transit, mobility, and sustainable city planning in the City of Dallas and the Greater Dallas area." %}
{% endif %}

<meta property="og:title" content="{{ meta_title }}">
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:image" content="https://thisdallaslife.com{{ page.cover_image }}">
<meta property="og:url" content="https://thisdallaslife.com{{ page.url }}">
<meta name="twitter:card" content="summary_large_image">