<nav class="top-nav">
  <a href="{{ "/" | relative_url }}" class="top-nav-logo-link">
    <img class="logo" src="{{ page.nav_logo | default: '/assets/dallas-urbanists-wordmark.svg' | relative_url }}" alt="Dallas Urbanists">
  </a>

  <ul class="top-nav-list">
    <li {% if page.name == "index.html" %}class="current"{% endif %}>
      <a href="{{ "/" | relative_url }}">Browse</a>
    </li>
    <li {% if page.name == "submit.html" %}class="current"{% endif %}>
      <a href="{{ "/submit" | relative_url }}">Submit</a>
    </li>
    <li {% if page.name == "subscribe.html" %}class="current"{% endif %}>
      <a href="{{ "/subscribe" | relative_url }}">Subscribe</a>
    </li>
    <li {% if page.name == "about.html" %}class="current"{% endif %}>
      <a href="{{ "/about" | relative_url }}">About</a>
    </li>
  </ul>

  <!--<ul class="top-nav-socials">
    <li>
      <a href="https://instagram.com/dallasurbanists"><img class="social-icon" src="/assets/icons/instagram_icon.svg" alt="Instagram" title="@DallasUrbanists on Instagram" /></a>
      <a href="https://www.tiktok.com/@dallasurbanists"><img class="social-icon" src="/assets/icons/tiktok_icon.svg" alt="TikTok" title="@DallasUrbanists on TikTok" /></a>
      <a href="https://www.youtube.com/channel/UCdGGeaIMqyVgr2cssV-uMTg"><img class="social-icon" src="/assets/icons/youtube_icon.svg" alt="YouTube" title="Dallas Urbanists on YouTube" /></a>
    </li>
  </ul>
  -->
</nav>
