<nav class="navbar navbar-expand-lg
    {% if page.cover_image or page.body_bg_image or page.nav_bg %}{% else %}bg-primary{% endif %}
    {% if page.nav_bg == 'semitransparent' %}bg-semitransparent{% endif %}
    {% if page.nav_bg == 'fade' %}bg-fade{% endif %}"
    data-bs-theme="{{ page.nav_theme | default: 'dark' }}">
    <div class="container-lg">
        <a class="navbar-brand" href="{{ "/" | relative_url }}" style="max-width: 50%;">
            <img class="m-3" src="{{ page.nav_logo | default: '/assets/inline-logo-and-wordmark-white.svg' | relative_url }}" alt="This Dallas Life" width="250" style="max-width: 100%;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/tagged/DART" | relative_url }}">DART</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/tagged/Housing" | relative_url }}">Housing</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/tagged/I-345" | relative_url }}">I-345</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/tagged/Cycling" | relative_url }}">Cycling</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/blog" | relative_url }}">Blog</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/podcast" | relative_url }}">Podcast</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/about" | relative_url }}">About</a>
                </li>
                <li class="nav-item px-lg-2">
                    <a class="nav-link" href="{{ "/media" | relative_url }}">Media</a>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>
