<nav class="navbar d-print-none navbar-expand-lg" data-bs-theme="{{ page.nav_theme | default: 'light' }}">
  <div class="container-lg" style="max-width: 768px;">
    <a class="navbar-brand" href="{{ "/" | relative_url }}" style="max-width: 50%;">
      <img class="m-3" src="{{ page.nav_logo | default: '/assets/dallas-urbanists-wordmark-2.png' | relative_url }}" alt="Dallas Urbanists" width="250" style="max-width: 100%;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item px-lg-2">
        <a class="nav-link" href="{{ "/about" | relative_url }}"><nobr>About</nobr></a>
      </li>
    </ul>
  </div>
</div>
</nav>
