{% for post in site.posts offset:1 %}
  {% if post.tags contains "Pinned" %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white blog-listing">
      <div class="d-lg-block">
        <img class="img-fluid muted" src="{{ post.cover_image | relative_url }}">
      </div>
      <div class="p-4">
        <h3 class="mb-2 fs-5">{{ post.title }}</h3>
        <p><a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link">{% include card-link-text.html %}</a></p>
      </div>
    </div>
  {% endif %}
{% endfor %}