{% for post in site.posts %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white blog-listing">
  <div class="col col-12 col-lg-6 p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary">Category</strong>
    <h3 class="mb-0">{{ post.title }}</h3>
    <div class="mb-1 text-body-secondary">{{ post.date | date: "%b %-d, %Y" }}</div>
    <p class="card-text mb-auto">{% if post.subtitle %} {{ post.subtitle }}{% endif %}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="stretched-link">Continue reading</a>
  </div>
  <div class="col col-12 col-lg-6 d-lg-block">
    <img class="img-fluid" src="{{ "/assets/cover_images/" | append: post.cover_image | relative_url }}">
  </div>
</div>
{% endfor %}