<input class="menu-checkbox" type="checkbox" id="menu-checkbox"/>
<nav class="top-nav collapsed open">
    <div class="body-wrapper" style="padding-left: 0;">
        <a href="/"><img src="{{ "/assets/branding/brand logo gold.svg" | relative_url }}" alt="Dallas Urbanists logo" class="logo" /></a>
        <!-- Hamburger icon -->
        <div class="menu-toggle">
            <label class="hamb" for="menu-checkbox"></label>
        </div>
        <a href="/about" class="nav-link">About</a>
        <a href="https://dallasurbanists.substack.com/" class="nav-link">Blog</a>
        <a href="/calendar" class="nav-link">Calendar</a>
        <a href="/organizations" class="nav-link">Organizations</a>
        <a href="/join" class="nav-link">Join</a>
        <a href="/contact" class="nav-link">Contact</a>
    </div>
</nav>
