<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: "This Dallas Life" }}</title>

    <!-- LIGHTBOX PLUGIN -->
    <link href="{{ "/assets/plugins/lightbox/css/lightbox.css" | relative_path }}" rel="stylesheet" />

    <!-- CMS AUTHENTICATION -->
    {% if page.identity_snippet %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {% endif %}

    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/favicons/safari-pinned-tab.svg"
      color="#0b2a8b" />
    <meta name="msapplication-TileColor" content="#f8f9fa" />
    <meta name="theme-color" content="#f8f9fa" />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
      media="screen" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"></script>

    <!-- BOOTSTRAP ICONS -->
    <link
    rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
      crossorigin="anonymous" />

    <!-- CUSTOM STYLES -->
    <link
    href="{{ "/styles2.css" | relative_url }}"
      rel="stylesheet"
      media="screen" />

    <!-- CUSTOM PRINT STYLESHEET -->
    <link
    href="{{ "/print.css" | relative_url }}"
      rel="stylesheet"
      media="print" />

    <!-- SOCIAL MEDIA META TAGS -->
    {% include meta-tags.html %}

  </head>

  <body style="background-image: url({{ "assets/handmadepaper.png" | relative_url }});">
    {% include nav.html %}

    <main class="">
      {{ content }}
    </main>

    <div class="container text-center">
      <form
        action="https://tinyletter.com/thisdallaslife"
        class="mb-2"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/thisdallaslife', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h1 class="display-6 lined-heading mb-4">
          <span>Subscribe</span>
        </h1>
        <input
          type="hidden"
          value="1"
          name="embed" />
        <div class="input-group input-group" style="max-width: 720px;margin: 0 auto;">
          <input
            type="email"
            name="email"
            id="tlemail"
            class="form-control"
            placeholder="Enter your email"
            aria-label="Email"
            aria-describedby="email-input-label" />
          <input
            type="submit"
            class="btn btn-secondary rounded-end"
            id="subscribe-btn"
            value="Subscribe" />
        </div>
      </form>
      <p>One email per week (at most) of urbanist news and content.</p>
    </div>

    <footer class="container-lg p-4 mt-4">
      <p class="float-start">
        <a class="link-dark link-offset-3" href="{{ "/" | relative_url }}">Homepage</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/blog" | relative_url }}">Blog</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/podcast" | relative_url }}">Podcast</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/about" | relative_url }}">About</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/tagged/DART" | relative_url }}">DART</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/tagged/I-345" | relative_url }}">I-345</a>
        |
        <a class="link-dark link-offset-3" href="{{ "/tagged/Cycling" | relative_url }}">Cycling</a>
      </p>
      <p class="text-body-secondary text-end">
        Copyright &copy; 2023
        {% if page.post.author %}
          {{ page.post.author.display_name }},
        {% endif %}
        This Dallas Life
      </p>
    </footer>

    <script>
      const el = document.querySelector(".sticky-top")
      const observer = new IntersectionObserver(([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1), {threshold: [1]});

      observer.observe(el);
    </script>

    <!-- LIGHTBOX PLUGIN -->
    <script src="{{ "/assets/plugins/lightbox/js/lightbox-plus-jquery.min.js" | relative_path }}"></script>
  </body>

</html>