---
layout: default
---
{%- comment -%}
The idea here is:
- `tag-feed` layout will have layout.heading + page.tag
- `feed` layout will have page.heading
{%- endcomment -%}

<div class="container-fluid px-lg-5 py-5">
    <div class="mx-auto" style="max-width: 1024px;">
        <h1 class="text-center display-5 lined-heading mb-4">
            <span>{{ layout.heading }}{{ page.tag_feed }}{{ page.heading }}</span>
        </h1>
        {% if page.tag_feed %}
            {% include posts.html tag=page.tag_feed%}
        {% elsif page.category_feed %}
            {% include posts.html category=page.category_feed %}
        {% else %}
            {% include posts.html %}
        {% endif %}
    </div>
  </div>
  
