---
layout: default
meta_type: "article"
---
{% assign author = site.authors | where: 'name', page.author | first %}

<div class="blog-article-parent-container">
    <article class="blog-article mb-5">
      <div {% if page.cover_image %}
          class="article-masthead"
          style="background-image:linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, .75) 1.5rem,
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, 1)
            ),
            url('{{ page.cover_image | relative_url }}');
          "
        {% else %}
          class="article-plainhead"
        {% endif %}>
        <div class="width-1024">
          <h1 id="post-title">{{ page.title }}</h1>
          <p class="subtitle">{{ page.subtitle }}</p>
        </div>
      </div>
      <div class="width-1024 below-mast">
        <p>By {{ author.display_name }} on {{ page.date | date: "%B %-d, %Y" }}</p>  
        {{ content }}
      </div>
    </article>
</div>

<!-- LIGHTBOX PLUGIN -->
<script src="{{ "/plugins/lightbox/js/lightbox-plus-jquery.min.js" | relative_path }}"></script>
<link href="{{ "/plugins/lightbox/css/lightbox.min.css" | relative_path }}" rel="stylesheet" />
<script src="{{ "/plugins/lightbox/lightbox-decorator.js" | relative_path }}"></script>

<!-- INITIALIZE PLUGINS -->
<script>
  // Attach lightbox to every image in the post content
  LightboxDecorator.decorate({
    // how to find <img> elements that should have lightbox attached 
    // note that each individual <img> element will be wrapped with <a href> 
    imageSelector: 'article.blog-article img',

    // duration of resize animation in milliseconds
    resizeDuration: 200,

    // add captions beneath images
    captionEnabled: true
  });
</script>