---
layout: default
meta_type: "article"
---
{% assign author = site.authors | where: 'name', page.author | first %}

<div class="container-lg p-4 pt-2">
  {% include impact-image.html path = page.cover_image %}
  <div class="container text-center" style="max-width: 40em;">
    <h1 class="display-6 mt-4">{{ page.title }}</h1>
    <p class="mb-4">
      <em>By {{ author.display_name }} on {{ page.date | date: "%B %-d, %Y" }}</em>
    </p>
  </div>
</div>

<div class="container-fluid">
  {% if page.embed_top %}
    <div class="embed-top">
      <div class="container-lg py-0 px-3 px-lg-5">
        <iframe src="{{ page.embed_top }}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
  {% endif %}
  {% if page.jump_link or page.recommended_actions %}
    <div class="bg-dark sticky-top">
      <div class="container-lg py-3 px-3 px-lg-5">
        {% if page.jump_link %}
          <a href="#{{ page.jump_link }}" type="button" class="btn btn-success">
            {% if page.jump_icon %}
              <i class="bi {{ page.jump_icon }}"></i>
            {% endif %}
            {% if page.jump_label %}
              {{ page.jump_label }}
            {% else %}
              Jump
            {% endif %}
          </a>
        {% endif  %}
        {% if page.recommended_actions %}
          {% for rec_action in page.recommended_actions %}
            <a href="{{ rec_action[0] }}" target="_blank" type="button" class="btn btn-secondary">
              <i class="bi {{ rec_action[2] | default: 'bi-box-arrow-up-right'  }}"></i>
              {{ rec_action[1]  }}
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="container-fluid row justify-content-center blog-article-parent-container mb-4">
    <div class="col-md-6">
      <article class="blog-article mb-5">
        {{ content }}
      </article>
    </div>
  </div>

  <!-- Author Footer -->
  
  <div class="container-lg my-4 mb-5">
    <div class="row border rounded justify-content-center">
    <!-- Author Details -->
    <div class="col-md-6 row">
      <!-- Author Photo-->
      <div class="col-md-4 p-4">
        <img class="img-fluid rounded" src="{{ author.photo | relative_url }}">
      </div>
      <!-- Author Bio-->
      <div class="col-md-8  p-4">
        <strong>Written by {{ author.display_name }} <nobr>on {{ page.date | date: "%B %-d, %Y" }}</nobr></strong>
        {{ author.content | markdownify }}
        <p>
          <nobr><i class="bi bi-envelope-fill fs-5"></i> <a href="mailto:{{ author.email }}" class="link-secondary link-offset-2">{{ author.email }}</a></nobr>&nbsp;
          {% if author.twitter %}
          <nobr><i class="bi bi-twitter fs-5"></i> <a href="https://twitter.com/{{ author.twitter }}" class="link-secondary link-offset-2">{{ author.twitter }}</a></nobr>&nbsp;
          {% endif %}
          {% if author.instagram %}
          <nobr><i class="bi bi-instagram fs-5"></i> <a href="https://www.instagram.com/{{ author.instagram | replace: '@', '' }}" class="link-secondary link-offset-2">{{ author.instagram }}</a></nobr>&nbsp;
          {% endif %}
          {% if author.reddit %}
          <nobr><i class="bi bi-reddit fs-5"></i> <a href="https://www.reddit.com/{{ author.reddit }}" class="link-secondary link-offset-2">{{ author.reddit }}</a></nobr>&nbsp;
          {% endif %}
          </p>
      </div>
    </div>

    <!-- Author Articles -->
    <div class="col-md-6  p-4">
      {% assign author_posts_limit = 5 %}
      {% assign author_posts_shown = 0 %}
      {% assign author_posts = site.posts | where: "author", author.name %}

      {% for post in author_posts %}
        {% if author_posts_shown > author_posts_limit %}
          {% break %}
        {% endif %}
        {% unless page.title == post.title %}
          {% include post-listing.html post=post %}
          {% assign author_posts_shown = author_posts_shown | plus:1 %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
  </div>
