---
layout: stlc-default
---
<article>
    <section class="masthead subtle group" style="
        color: {{ page.masthead_text_color | default: "white" }};
        background-image: url({{ page.cover_photo | relative_url }});
        background-position: {{ page.masthead_bg_position | default: "center center" }};
    ">
        <div class="group-header">
            <div class="body-wrapper padded">
                <h1>{{ page.display_name }}</h1>
                <p>{{ page.summary }}</p>
            </div>
        </div>
    </section>
    <section class="bg-offwhite">
        <div class="row two-columns">
            <div class="column">
                {{ content }}
            </div>
        <div class="column">
            <p><img src="{{ page.logo | relative_url }}" alt="Logo of {{ page.display_name }}" class="logo" /></p>
            {% if page.focus_issues %}
                <p><strong>Focus issues:</strong> {{ page.focus_issues }}</p>
            {% endif %}
            {% if page.focus_area %}
                <p><strong>Focus area:</strong> {{ page.focus_area }}</p>
            {% endif %}
            {% if page.founded_on %}
                <p><strong>Founded on:</strong> {{ page.founded_on }}</p>
            {% endif %}
            {% if page.website %}
                <p><strong>Website:</strong> <a href="{{ page.website | absolute_url }}" class="external-hyperlink">{{ page.website | extract_domain }}</a></p>
            {% endif %}
            {% if page.links %}
                <p><strong>Links:</strong></p>
                <ul>
                    {% for link in page.links %}
                        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
</article>