---
layout: stlc-default
---
<article>
    <section class="masthead subtle group" style="
        color: {{ page.masthead_text_color | default: "white" }};
        background-image: url({{ page.cover_photo | relative_url }});
        background-position: {{ page.masthead_bg_position | default: "center center" }};
    ">
        <div class="group-header">
            <div class="body-wrapper padded">
                <h1>{{ page.display_name }}</h1>
                <p>{{ page.summary }}</p>
            </div>
        </div>
    </section>
    <section class="bg-offwhite">
        <div class="row two-columns">
            <div class="column">
                {{ content }}

                <h2>Upcoming Events</h2>

                {% assign group_events = site.events | where_exp: "event", "event.host == page.name" %}
                {% if group_events.size > 0 %}
                    {% for event in group_events %}
                        <p>
                            {{ event.start_date | date: "%B %e" }}<br />
                            <a href="#" class="event-title">{{ event.title }}</a>
                        </p>                
                    {% endfor %}
                {% else %}
                    <p>There are no upcoming events at this time.</p>
                {% endif %}
            </div>
        <div class="column">
            <p><img src="{{ page.logo | relative_url }}" alt="Logo of {{ page.display_name }}" class="logo" /></p>
            {% if page.focus_issues %}
                <p><strong>Focus issues:</strong> {{ page.focus_issues }}</p>
            {% endif %}
            {% if page.focus_area %}
                <p><strong>Focus area:</strong> {{ page.focus_area }}</p>
            {% endif %}
            {% if page.founded_on %}
                <p><strong>Founded on:</strong> {{ page.founded_on }}</p>
            {% endif %}
            {% if page.website %}
                <p><strong>Website:</strong> <a href="{{ page.website | absolute_url }}" class="external-hyperlink">{{ page.website | extract_domain }}</a></p>
            {% endif %}
            {% if page.links %}
                <p><strong>Links:</strong></p>
                <ul>
                    {% for link in page.links %}
                        <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
    <section class="bg-sky" style="margin-top: 2rem;">
        <div class="body-wrapper padded">
            <h1>Articles from {{ page.display_name }}</h1>

            <div class="grid-box">
                {% for post in site.posts limit: 9 %}
                    {% assign author = site.authors | where: 'name', post.author | first %}
                    {% if author %}
                        {% assign author_name = author.display_name %}
                    {% else %}
                        {% assign author_name = author %}
                    {% endif %}

                    <div class="grid-cell">
                        <div class="photo-logo-combo">
                            <img src="{{ post.cover_image | relative_url }}" alt="Members of Dallas Neighbors for Housing at City Hall" class="photo" />
                            <!-- <img src="./assets/branding/brand logo navy.svg" alt="Dallas Urbanists STLC logo" class="logo" /> -->
                        </div>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p>
                            By {{ author_name }}
                            on {{ post.date | date: "%B %e, %Y" }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</article>