---
layout: default
num_of_cards: 3
---

<div class="container-fluid px-lg-5 py-5">
  <div class="mx-auto" style="max-width: 1024px;">
    <h1 class="text-center display-5 lined-heading">
      {% if page.headline and page.headline != "" %}
        <span>{{ page.headline }}</span>
      {% else %}
        <span>Blog posts about
          <em>{{ page.tag_feed }}</em>
        </span>
      {% endif %}
    </h1>
    {% if page.description and page.description != '' %}
      <p style="max-width: 35em; text-align: center;" class="mx-auto">{{ page.description }}</p>
    {% endif %}
    <div class="container mx-auto mt-5">
      {% include post-cards.html tag=page.tag_feed limit=page.num_of_cards %}
      {% include post-list.html tag=page.tag_feed offset=page.num_of_cards %}
    </div>
  </div>
</div>