---
layout: default
meta_type: "youtube"
---
{% assign external_url = page.external_url | remove_trailing_slash %}

<h1 class="instagram-title fancy-font">
    {% if page.icon %}
        <img src="/assets/icons/{{ page.icon }}_icon.svg" class="instagram-title-icon" />
    {% endif %}    
    <strong>{{ page.category }}:</strong> {{ page.title }}
</h1>

<p class="subtitle">
    {% if page.subtitle %}
        {{ page.subtitle }} -
    {% endif %}
    {{ page.date | date: "%B %e, %Y" }}
</p>

<div class="instagram-container">
    <iframe width="560" height="315" src="{{ page.external_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="container-fluid row justify-content-center blog-article-parent-container mb-4">
    <article class="blog-article photo-gallery mb-5">
        {{ content }}
    </article>
</div>

{% if page.tags and page.tags.size > 0 %}
    <p class="instagram-tags">This YouTube video was about {% include tag-inline-list.html tags=page.tags %}</p>
{% endif %}


<!-- MASONRY PLUGIN -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="{{ "/plugins/masonry/masonry-wrapper.js" | relative_path }}"></script>
<link href="{{ "/plugins/masonry/masonry-custom.css" | relative_path }}" rel="stylesheet" />

<!-- LIGHTBOX PLUGIN -->
<script src="{{ "/plugins/lightbox/js/lightbox-plus-jquery.min.js" | relative_path }}"></script>
<link href="{{ "/plugins/lightbox/css/lightbox.min.css" | relative_path }}" rel="stylesheet" />
<script src="{{ "/plugins/lightbox/lightbox-decorator.js" | relative_path }}"></script>

<!-- INITIALIZE PLUGINS -->
<script>
  // Attach lightbox to every image in the post content
  LightboxDecorator.decorate({
    // how to find <img> elements that should have lightbox attached 
    // note that each individual <img> element will be wrapped with <a href> 
    imageSelector: 'article.blog-article img',

    // duration of resize animation in milliseconds
    resizeDuration: 200
  });

  // Move all photos in post content into a masonry grid
  const gallery = MasonryWrapper.wrap({
    // where to append the masonry wrapper after it's generated
    galleryParent: 'article.blog-article',
    
    // how to find images that should be moved into the masonry wrapper
    // note that all matching images will move and not be in their original DOM location
    galleryImageSelector: 'article.blog-article .post-image-link'
  });
</script>